body {
	width: 600px;
	background: #999;
	margin: 0 auto;
}
body.track {
	background: #fca;
}
body.tag {
	background: #acf;
}

@media (min-width: 700px) {
	table {
		margin: 0 auto;
	}
}
button {
	float: right;
}
select {
	clear: both;
}
.error {
	background: #fcc;
	color: #900;
	border: solid;
	display: block;
	padding-left: 1em;
}
.errorclose {
	float: right;
	color: #999;
	cursor: pointer;
	padding: 0 0.5em;
}
.errorclose:hover {
	color: #555;
}
